@import url(/src/sass/work.scss);
@import url(/src/sass/some-work.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    padding: 0 15px;
    margin: 103px auto 0;
    max-width: calc(1170px + 15px*2);
}

.subtitle {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #2D3033;
    text-align: center;
    margin: 61px 0 0;
}

.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #2D3033;
    text-align: center;
    margin: 38px 0 0;
}

.linebar {
    width: 170px;
    height: 2px;
    background-color: #F38281;
    margin: 43px auto;
}

@media (max-width: 1024px) {
    .content {
        margin: 68px auto 0;
    }

    .subtitle {
        font-size: 24px;
        line-height: 35px;
        margin: 45px 0 0;
    }
    
    .title {
        font-size: 24px;
        line-height: 28px;

        margin: 36px 0 0;
    }
    
    .linebar {
        margin: 40px auto;
    }
}